@charset "UTF-8";
/*Colors*/
/*PURPLE*/
/*PINK*/
/*LIGHT GREEN*/
/*DARK GREEN*/
/*DARK GREY*/
/*LIGHT PURPLE*/
/*MID GREY*/
/*LIGHT GREY*/
/*GREY SHADOW*/
/*white*/
/*BACKGROUND COLOR*/
/*TEXT COLOR*/
/* GREY ICONS*/
/*Reset CSS from Eric Meyer*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*End reset CSS*/
/*List of fonts used in this web page: one @font-face per font*/
@font-face {
  font-family: "Shrikhand-Regular";
  src: url("polices/Shrikhand-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Roboto-Regular";
  src: url("polices/Roboto-Regular.ttf") format("truetype");
}
.service button, .submitorder {
  height: 50px;
  color: #FFFFFF;
  background-color: #353535;
  background-image: linear-gradient(0deg, #9356DC, #FF79DA);
  /*deg: degrees to show starting point of color gradient*/
  border-style: none;
  font-size: 1rem;
  padding: 0 20px 0 20px;
  border-radius: 35px 35px 35px 35px;
  margin: 15px 0 40px 0;
}

header {
  display: flex;
  justify-content: center;
}

.logo {
  padding-top: 30px;
  padding-bottom: 10px;
  width: 40%;
}

footer {
  background-color: #353535;
  padding-left: 20px;
  line-height: 1.7;
  padding-bottom: 30px;
}

footer a {
  font-size: 1rem;
  font-family: "Roboto-Regular", Arial, Verdana, sans-serif;
  color: #FFFFFF;
}

footer h4 {
  font-family: "Shrikhand-Regular", Arial, Verdana, sans-serif;
  font-size: 1.2rem;
  color: #FFFFFF;
  padding-top: 30px;
  padding-bottom: 1.1rem;
}

.suggestion {
  display: flex;
  flex-direction: row;
}

.partenariat {
  display: flex;
  flex-direction: row;
}

.icon1 {
  color: #FFFFFF;
  padding-right: 20px;
  font-size: 0.8rem;
  margin-top: 5px;
}

.icon2 {
  color: #FFFFFF;
  padding-right: 15px;
  font-size: 0.8rem;
  margin-top: 5px;
}

.location {
  width: 100%;
  margin-top: 2px;
}

/*LOCATION BLOCK*/
.locationlabel {
  display: flex;
  justify-content: center;
  background-color: #EAEAEA;
  font-size: 1.6rem;
  padding: 5px 0 5px 50px;
  border-style: solid;
  border-top-width: 3px;
  border-color: #C8C8C8;
}

.marker {
  display: flex;
  justify-content: center;
  padding: 10px;
  font-size: 1.2rem;
}

.inputplace {
  border: none;
  background-color: transparent;
  font-size: 0.8rem;
  font-weight: bold;
}

/*SERVICE BLOCK*/
.service {
  text-align: center;
  background-color: #F6F6F6;
  font-family: "Roboto-Regular", Arial, Verdana, sans-serif;
  padding-top: 40px;
}
.service h1 {
  font-size: 1.4rem;
  font-weight: bolder;
  padding-bottom: 15px;
  padding-left: 80px;
  padding-right: 80px;
}
.service p {
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
}

/*choose BLOCK*/
.choose {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.chooseheader {
  font-size: 1.4rem;
  font-weight: bolder;
  font-family: "Roboto-Regular", Arial, Verdana, sans-serif;
  padding: 0 0 20px 15px;
}

.choice {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.choice i {
  color: #808080;
  padding-right: 20px;
  font-size: 1rem;
}

.choice button {
  background-color: #F6F6F6;
  min-width: 280px;
  height: 60px;
  border-radius: 15px 15px 15px 15px;
  border-style: none;
  box-shadow: 0 1px 15px #C8C8C8;
  font-family: "Roboto-Regular", Arial, Verdana, sans-serif;
  font-weight: bold;
  font-size: 0.9rem;
}

.choose p {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #9356DC;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  color: #FFFFFF;
  font-family: "Roboto-Regular", Arial, Verdana, sans-serif;
  font-size: 0.8rem;
  padding-top: 2px;
  position: absolute;
  /*+ left here under to move N° to the right on top of button*/
  left: 2rem;
}

/*RESTAURANT BLOCK*/
.restaurantlist {
  background-color: #F6F6F6;
  margin-top: 50px;
}
.restaurantlist h3 {
  font-family: "Roboto-Regular", Arial, Verdana, sans-serif;
  font-size: 1.4rem;
  padding-left: 15px;
  color: black;
  font-weight: bolder;
  padding-top: 50px;
  padding-bottom: 20px;
}

.listcards {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.card {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 350px;
  height: auto;
  max-height: 300px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 2px 2px 20px #C8C8C8;
  position: relative;
  margin: 0 auto 30px auto;
}
.card--img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}
.card__info {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 10px;
}
.card__info__text {
  color: black;
}
.card__info__text--title {
  font-family: "Roboto-Regular", Arial, Verdana, sans-serif;
  font-size: 20px;
  font-weight: bolder;
}
.card__info__text--subtitle {
  font-family: "Roboto-Regular", Arial, Verdana, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}
.card__info--heart {
  font-size: 24px;
  margin-right: 10px;
  font-weight: 100;
  margin-top: 8px;
  color: black;
}
.card__new {
  background-color: #99E2D0;
  width: fit-content;
  padding: 10px;
  position: absolute;
  top: 15px;
  right: 15px;
  border-radius: 3px;
}
.card__new--txt {
  font-family: "Roboto-Regular", Arial, Verdana, sans-serif;
  font-weight: bold;
  color: #008766;
}

/*Header page*/
.headerrestaurant {
  display: block;
  margin: 20px 0 15px 0;
}
.headerrestaurant a {
  position: absolute;
  margin: 10px 0 0 25px;
  color: black;
  font-weight: bolder;
}
.headerrestaurant h1 {
  font-family: "Shrikhand-Regular", Arial, Verdana, sans-serif;
  text-align: center;
  font-size: 2rem;
}

/*BLOC MENUS*/
.cardrest--img {
  width: 100%;
  height: 280px;
}

.cardrest2--img {
  width: 100%;
  object-fit: cover;
  object-position: 0 -150px;
}

.menus {
  background-color: #F6F6F6;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
  transform: translateY(-50px);
  /* to have block menu up to cover bottom of block above*/
}

.menus2 {
  background-color: #F6F6F6;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
  transform: translateY(-240px);
  /* spécific for photo rest2 since img #format >height*/
}

/*Restaurant name*/
.title {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: "Shrikhand-Regular", Arial, Verdana, sans-serif;
  margin: 0px 0 20px 0;
  padding-top: 60px;
}
.title--name {
  font-size: 1.7rem;
}
.title--icon {
  font-size: 1.4rem;
  color: #353535;
}
.title--icon :hover {
  color: linear-gradient(0deg, #9356DC, #FF79DA);
  /*deg: degrees to show starting point of color gradient*/
}

/*Courses*/
.menublock h2 {
  font-family: "Roboto-Regular", Arial, Verdana, sans-serif;
  border-bottom: solid 3px #99E2D0;
  width: 40px;
  margin: 20px 0 0 20px;
}

.menucard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*card unit*/
.cardrest {
  width: 350px;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  background-color: #FFFFFF;
  border-radius: 15px;
  box-shadow: 3px 3px 5px #C8C8C8;
  overflow: hidden;
  cursor: pointer;
  font-family: "Roboto-Regular", Arial, Verdana, sans-serif;
  margin: 10px 0 10px 0;
}
.cardrest__info {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 10px 10px 10px 10px;
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.cardrest__info--name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.cardrest__info--description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.cardrest__price {
  display: flex;
  align-items: flex-end;
  font-weight: bold;
  font-size: 0.9rem;
  padding: 20px 10px 10px 10px;
}
.cardrest__check {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 30%;
  max-width: 0;
  overflow: hidden;
  background-color: #99E2D0;
  transition: all 0.5s linear;
}
.cardrest__check--icon {
  color: white;
  font-size: 30px;
  transition: all 0.5s linear;
}
.cardrest:hover .cardrest__check {
  max-width: 50px;
}
.cardrest:hover .cardrest__check--icon {
  transform: rotateZ(360deg);
}

/*# sourceMappingURL=style.css.map */
