.headerrestaurant{
    display: block;
    margin: 20px 0 20px 0;


    & a{
    position: absolute;
    margin: 10px 0 0  5px;
    color: $blackcolor;
    }

    & h1{
    font-family: $font-title;
    text-align: center;
    font-size: 2rem;
    }
}

.title{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: $font-title;
    font-size: 1.2rem;
    margin-top: 15px;

}




