.location{
    width: 100%;
    max-width: 380px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: $lightgreycolor;
    margin-top: 2px;
}

.locationlabel{
    width: 100%;
    display: flex;
    flex-direction: row; 
    justify-content: center;
    background-color: $midgreycolor; 
}

.service h1, p{
    display: flex;
    justify-content: center; 
}
.marker{
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 10px;  
}

.inputplace{
   background-color: yellow; 
   border: none;
   background-color: transparent; 
}


.restaurantlist{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 380px;    
    background-color: $lightgreycolor;
    margin-top: 50px;
    & h3{
        font-family: $font-text;
        font-size: 1.2rem;
        padding-top:20px;
        padding-bottom:20px;
        color:red;
        justify-content: flex-start;
    }
}

.card {
    display: flex;
    justify-content:center;
    width: 100%;
    max-width: 350px;
    height: auto;
    max-height: 300px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 2px 2px 20px $greyshadowcolor;
    position: relative;
    margin-bottom: 30px;
    &--img {
        width: 100%;
        height: 180px;
        object-fit: cover;
    }
    &__info {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 10px;
        &__text {
        &--title {
            font-family: $font-text;
            font-size: 20px;
        }
        &--subtitle {
            font-family: $font-text;
            font-size: 16px;
            line-height: 1.5;
        }
        }
        &--heart {
        font-size: 24px;
        margin-right: 10px;
        font-weight: 100;
        margin-top: 22px;
        }
    }
    &__new {
        background-color: $tertiary-color;
        width: fit-content;
        padding: 10px;
        position: absolute;
        top: 15px;
        right: 15px;
        border-radius: 3px;
        &--txt {
            font-family: $font-text;
            font-weight: bold;
            color: $darkgreencolor;
        }
    }
}
