/*Colors*/

/*PURPLE*/
$primary-color: #9356DC;

/*PINK*/
$secondary-color: #FF79DA;

/*LIGHT GREEN*/
$tertiary-color: #99E2D0;

/*DARK GREEN*/
$darkgreencolor: #008766;

/*DARK GREY*/
$darkgreycolor: #353535;

/*LIGHT PURPLE*/
$lightpurplecolor: #F5EDFF;

/*MID GREY*/
$midgreycolor: #EAEAEA;

/*LIGHT GREY*/
$lightgreycolor: #F6F6F6;

/*GREY SHADOW*/
$greyshadowcolor: #C8C8C8;

/*white*/
$whitecolor: #FFFFFF;

/*BACKGROUND COLOR*/
$color-background: #F2F2F2;

/*TEXT COLOR*/
$blackcolor: black;

/* GREY ICONS*/
$greyicon: #808080;